#e1_13 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:3599px;
	position:absolute;
}#e1_14 { 
	opacity:1;
	width:1920px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_15 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:1920px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/erectangle_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_16 { 
	background-color:rgba(0, 91.00000217556953, 193.00000369548798, 0.6000000238418579);
	opacity:1;
	width:444px;
	height:720px;
	position:absolute;
	left:405px;
	top:80px;
}#e10242_178 { 
	opacity:1;
	width:1920px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_17 { 
	background-color:rgba(0, 91.00000217556953, 193.00000369548798, 0.6000000238418579);
	opacity:1;
	width:1920px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_19 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:88px;
	height:19px;
	position:absolute;
	left:735px;
	top:31px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_20 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:81px;
	height:19px;
	position:absolute;
	left:849px;
	top:31px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_21 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:56px;
	height:19px;
	position:absolute;
	left:957px;
	top:31px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_22 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:51px;
	height:19px;
	position:absolute;
	left:1041px;
	top:31px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_23 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:69px;
	height:19px;
	position:absolute;
	left:1120px;
	top:31px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_30 { 
	opacity:1;
	width:140px;
	height:58px;
	position:absolute;
	left:40px;
	top:11px;
}#e1_31 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:75px;
	height:58px;
	position:absolute;
	left:65px;
	top:0px;
	font-family:Titillium Web;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:120.00000476837158;
}#e1_32 { 
	opacity:1;
	width:57.74073791503906px;
	height:50px;
	position:absolute;
	left:0px;
	top:4px;
}#e1_33 { 
	opacity:1;
	width:57.74073791503906px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_34 { 
	opacity:1;
	width:20.92252540588379px;
	height:50px;
	position:absolute;
	left:14.434375762939453px;
	top:-2.2737367544323206e-13px;
}#e1_35 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:20.92252540588379px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_36 { 
	opacity:1;
	width:20.92252540588379px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_37 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:20.92252540588379px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_38 { 
	opacity:1;
	width:28.86871337890625px;
	height:48.89985656738281px;
	position:absolute;
	left:28.871986389160156px;
	top:0.5499497652053833px;
}#e1_39 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:9.102655410766602px;
	height:17.767908096313477px;
	position:absolute;
	left:5.013463973999023px;
	top:17.370243072509766px;
}#e1_40 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:10.693219184875488px;
	height:20.524885177612305px;
	position:absolute;
	left:3.422966241836548px;
	top:11.856247901916504px;
}#e1_41 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:14.116243362426758px;
	height:26.867252349853516px;
	position:absolute;
	left:0px;
	top:0.00017160328570753336px;
}#e1_42 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:12.287095069885254px;
	height:23.278547286987305px;
	position:absolute;
	left:1.8290704488754272px;
	top:6.3456501960754395px;
}#e1_43 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:14.11955738067627px;
	height:48.89985656738281px;
	position:absolute;
	left:14.749074935913086px;
	top:0px;
}#e1_44 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:7.512094497680664px;
	height:15.01093578338623px;
	position:absolute;
	left:6.604043006896973px;
	top:22.880842208862305px;
}#e1_45 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:5.918216228485107px;
	height:12.253960609436035px;
	position:absolute;
	left:8.197938919067383px;
	top:28.394838333129883px;
}#e1_46 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1.5143455266952515px;
	height:5.2488555908203125px;
	position:absolute;
	left:12.601821899414062px;
	top:43.650997161865234px;
}#e1_47 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:2.737091541290283px;
	height:6.10046911239624px;
	position:absolute;
	left:11.379096031188965px;
	top:39.41943359375px;
}#e1_48 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:4.32765531539917px;
	height:9.496983528137207px;
	position:absolute;
	left:9.788517951965332px;
	top:33.90883255004883px;
}#e1_24 { 
	opacity:1;
	width:635px;
	height:317px;
	position:absolute;
	left:595px;
	top:282px;
}#e1_25 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:445px;
	height:44px;
	position:absolute;
	left:0px;
	top:182px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}#e1_26 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:635px;
	height:142px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:48px;
	letter-spacing:1;
	line-height:undefined;
}#e1_27 { 
	opacity:1;
	width:160px;
	height:51px;
	position:absolute;
	left:0px;
	top:266px;
}#e1_28 { 
	opacity:1;
	border:2px solid rgba(255, 255, 255, 1);
	width:160px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_29 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:79px;
	height:22px;
	position:absolute;
	left:41px;
	top:15px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:5;
	line-height:undefined;
}#e1_49 { 
	opacity:1;
	width:1110px;
	height:520px;
	position:absolute;
	left:405px;
	top:950px;
}#e1_50 { 
	opacity:1;
	width:100px;
	height:13px;
	position:absolute;
	left:0px;
	top:24px;
}#e1_51 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:100px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_52 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:50px;
	height:0px;
	position:absolute;
	left:50px;
	top:13px;
}#e1_53 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:204px;
	height:44px;
	position:absolute;
	left:140px;
	top:6px;
	font-family:Oswald;
	text-align:left;
	font-size:30px;
	letter-spacing:5;
	line-height:undefined;
}#e1_54 { 
	opacity:1;
	width:55px;
	height:55px;
	position:absolute;
	left:1002px;
	top:0px;
}#e1_55 { 
	transform: rotate(-45deg);
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:12.59323501586914px;
	height:0px;
	position:absolute;
	left:22.809524536132812px;
	top:28.904762268066406px;
}#e1_56 { 
	transform: rotate(-135deg);
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:12.59323501586914px;
	height:0px;
	position:absolute;
	left:30.904762268066406px;
	top:37px;
}#e1_57 { 
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:55px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_58 { 
	transform: rotate(180deg);
	opacity:1;
	width:55px;
	height:55px;
	position:absolute;
	left:1110px;
	top:0px;
}#e1_59 { 
	transform: rotate(-135deg);
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:12.59323501586914px;
	height:0px;
	position:absolute;
	left:-23.095169067382812px;
	top:28.904762268066406px;
}#e1_60 { 
	transform: rotate(-45deg);
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:12.59323501586914px;
	height:0px;
	position:absolute;
	left:-31.190406799316406px;
	top:37px;
}#e1_61 { 
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:55px;
	height:55px;
	position:absolute;
	left:-55px;
	top:0px;
}#e1_62 { 
	opacity:1;
	width:540px;
	height:400px;
	position:absolute;
	left:0px;
	top:120px;
}#e1_63 { 
	background-color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:540px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/erectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_64 { 
	opacity:1;
	width:250px;
	height:110px;
	position:absolute;
	left:255px;
	top:255px;
}#e1_65 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:250px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_66 { 
	opacity:1;
	width:200px;
	height:70px;
	position:absolute;
	left:25px;
	top:20px;
}#e1_67 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:107px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_68 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:200px;
	height:34px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_69 { 
	opacity:1;
	width:540px;
	height:400px;
	position:absolute;
	left:570px;
	top:120px;
}#e1_70 { 
	background-color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:540px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/erectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_71 { 
	opacity:1;
	width:250px;
	height:110px;
	position:absolute;
	left:255px;
	top:255px;
}#e1_72 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:250px;
	height:110px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_73 { 
	opacity:1;
	width:200px;
	height:70px;
	position:absolute;
	left:25px;
	top:20px;
}#e1_74 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:107px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_75 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:200px;
	height:34px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_76 { 
	opacity:1;
	width:1110px;
	height:505px;
	position:absolute;
	left:405px;
	top:1620px;
}#e1_77 { 
	opacity:1;
	width:100px;
	height:13px;
	position:absolute;
	left:0px;
	top:18px;
}#e1_78 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:100px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_79 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:50px;
	height:0px;
	position:absolute;
	left:50px;
	top:13px;
}#e1_80 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:280px;
	height:44px;
	position:absolute;
	left:140px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:30px;
	letter-spacing:5;
	line-height:undefined;
}#e1_81 { 
	opacity:1;
	width:211px;
	height:41px;
	position:absolute;
	left:450px;
	top:114px;
}#e1_82 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:111px;
	height:36px;
	position:absolute;
	left:100px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:5;
	line-height:undefined;
}#e1_83 { 
	opacity:1;
	width:53px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_84 { 
	color:rgba(0, 91.00000217556953, 193.00000369548798, 1);
	opacity:1;
	width:52px;
	height:36px;
	position:absolute;
	left:1px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:5;
	line-height:undefined;
}#e1_85 { 
	background-color:rgba(0, 91.00000217556953, 193.00000369548798, 1);
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:53px;
	height:0px;
	position:absolute;
	left:0px;
	top:41px;
}#e1_86 { 
	opacity:1;
	width:350px;
	height:300px;
	position:absolute;
	left:0px;
	top:205px;
}#e1_87 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:350px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/erectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_88 { 
	opacity:1;
	width:265px;
	height:86px;
	position:absolute;
	left:85px;
	top:199px;
}#e1_89 { 
	background-color:rgba(0, 91.00000217556953, 193.00000369548798, 1);
	opacity:1;
	width:265px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_90 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:208px;
	height:56px;
	position:absolute;
	left:21px;
	top:15px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_91 { 
	opacity:1;
	width:350px;
	height:300px;
	position:absolute;
	left:380px;
	top:205px;
}#e1_92 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:350px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/erectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_93 { 
	opacity:1;
	width:265px;
	height:86px;
	position:absolute;
	left:85px;
	top:199px;
}#e1_94 { 
	background-color:rgba(0, 91.00000217556953, 193.00000369548798, 1);
	opacity:1;
	width:265px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_95 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:114px;
	height:27px;
	position:absolute;
	left:21px;
	top:30px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_96 { 
	opacity:1;
	width:350px;
	height:300px;
	position:absolute;
	left:760px;
	top:205px;
}#e1_97 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:350px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/erectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_98 { 
	opacity:1;
	width:265px;
	height:86px;
	position:absolute;
	left:85px;
	top:199px;
}#e1_99 { 
	background-color:rgba(0, 91.00000217556953, 193.00000369548798, 1);
	opacity:1;
	width:265px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_100 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:100px;
	height:27px;
	position:absolute;
	left:21px;
	top:30px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_101 { 
	opacity:1;
	width:1110px;
	height:478px;
	position:absolute;
	left:405px;
	top:2275px;
}#e1_102 { 
	opacity:1;
	width:100px;
	height:13px;
	position:absolute;
	left:0px;
	top:18px;
}#e1_103 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:100px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_104 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:50px;
	height:0px;
	position:absolute;
	left:50px;
	top:13px;
}#e1_105 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:665px;
	height:394px;
	position:absolute;
	left:445px;
	top:84px;
}#e1_106 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:315px;
	height:44px;
	position:absolute;
	left:140px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:30px;
	letter-spacing:5;
	line-height:undefined;
}#e1_107 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:350px;
	height:175px;
	position:absolute;
	left:0px;
	top:194px;
	font-family:Open Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e1_108 { 
	opacity:1;
	width:615px;
	height:334px;
	position:absolute;
	left:475px;
	top:114px;
}#e1_109 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:441px;
	height:27px;
	position:absolute;
	left:0px;
	top:12px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_110 { 
	opacity:1;
	width:255px;
	height:250px;
	position:absolute;
	left:0px;
	top:84px;
	background-image:url(images/erectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_111 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:172px;
	height:24px;
	position:absolute;
	left:285px;
	top:84px;
	font-family:Oswald;
	text-align:left;
	font-size:16px;
	letter-spacing:5;
	line-height:undefined;
}#e1_112 { 
	opacity:1;
	width:330px;
	height:152px;
	position:absolute;
	left:285px;
	top:138px;
}#e1_113 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:310px;
	height:152px;
	position:absolute;
	left:20px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_114 { 
	border-radius:500px;
	background-color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:18px;
}#e1_115 { 
	border-radius:500px;
	background-color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:65px;
}#e1_116 { 
	border-radius:500px;
	background-color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:103px;
}#e1_117 { 
	border-radius:500px;
	background-color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:4px;
	height:4px;
	position:absolute;
	left:0px;
	top:141px;
}#e1_118 { 
	opacity:1;
	width:55px;
	height:55px;
	position:absolute;
	left:497px;
	top:0px;
}#e1_119 { 
	transform: rotate(-45deg);
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:12.59323501586914px;
	height:0px;
	position:absolute;
	left:22.809524536132812px;
	top:28.904762268066406px;
}#e1_120 { 
	transform: rotate(-135deg);
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:12.59323501586914px;
	height:0px;
	position:absolute;
	left:30.904762268066406px;
	top:37px;
}#e1_121 { 
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:55px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_122 { 
	transform: rotate(180deg);
	opacity:1;
	width:55px;
	height:55px;
	position:absolute;
	left:605px;
	top:0px;
}#e1_123 { 
	transform: rotate(-135deg);
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:12.59323501586914px;
	height:0px;
	position:absolute;
	left:-23.095169067382812px;
	top:28.904762268066406px;
}#e1_124 { 
	transform: rotate(-45deg);
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:12.59323501586914px;
	height:0px;
	position:absolute;
	left:-31.190406799316406px;
	top:37px;
}#e1_125 { 
	opacity:1;
	border:2px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:55px;
	height:55px;
	position:absolute;
	left:-55px;
	top:0px;
}#e1_126 { 
	opacity:1;
	width:1110px;
	height:363px;
	position:absolute;
	left:405px;
	top:2861px;
}#e1_127 { 
	opacity:1;
	width:100px;
	height:13px;
	position:absolute;
	left:0px;
	top:18px;
}#e1_128 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:100px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_129 { 
	opacity:1;
	border:3px solid rgba(0, 91.00000217556953, 193.00000369548798, 1);
	width:50px;
	height:0px;
	position:absolute;
	left:50px;
	top:13px;
}#e1_130 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:119px;
	height:44px;
	position:absolute;
	left:140px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:30px;
	letter-spacing:5;
	line-height:undefined;
}#e1_131 { 
	opacity:1;
	width:190px;
	height:51px;
	position:absolute;
	left:920px;
	top:0px;
}#e1_132 { 
	background-color:rgba(0, 91.00000217556953, 193.00000369548798, 1);
	opacity:1;
	width:190px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_133 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:122px;
	height:22px;
	position:absolute;
	left:34px;
	top:15px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:5;
	line-height:undefined;
}#e1_134 { 
	opacity:1;
	width:225px;
	height:242px;
	position:absolute;
	left:600px;
	top:121px;
}#e1_135 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:128px;
	height:115px;
	position:absolute;
	left:0px;
	top:127px;
	background-image:url(images/erectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_136 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:225px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_137 { 
	color:rgba(150.87499290704727, 150.87499290704727, 150.87499290704727, 1);
	opacity:1;
	width:72px;
	height:19px;
	position:absolute;
	left:153px;
	top:223px;
	font-family:Open Sans;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_138 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:225px;
	height:38px;
	position:absolute;
	left:0px;
	top:69px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_139 { 
	opacity:1;
	width:225px;
	height:242px;
	position:absolute;
	left:885px;
	top:121px;
}#e1_140 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:128px;
	height:115px;
	position:absolute;
	left:0px;
	top:127px;
	background-image:url(images/erectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_141 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:225px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_142 { 
	color:rgba(150.87499290704727, 150.87499290704727, 150.87499290704727, 1);
	opacity:1;
	width:72px;
	height:19px;
	position:absolute;
	left:153px;
	top:223px;
	font-family:Open Sans;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_143 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:225px;
	height:38px;
	position:absolute;
	left:0px;
	top:69px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_144 { 
	opacity:1;
	width:540px;
	height:242px;
	position:absolute;
	left:0px;
	top:121px;
}#e1_145 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:255px;
	height:242px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/erectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e1_146 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:123px;
	height:27px;
	position:absolute;
	left:285px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_147 { 
	color:rgba(150.87499290704727, 150.87499290704727, 150.87499290704727, 1);
	opacity:1;
	width:72px;
	height:19px;
	position:absolute;
	left:468px;
	top:4px;
	font-family:Open Sans;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_148 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:255px;
	height:133px;
	position:absolute;
	left:285px;
	top:69px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_149 { 
	color:rgba(52.06249974668026, 52.06249974668026, 52.06249974668026, 1);
	opacity:1;
	width:139px;
	height:19px;
	position:absolute;
	left:285px;
	top:223px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_150 { 
	opacity:1;
	width:1920px;
	height:255px;
	position:absolute;
	left:0px;
	top:3344px;
}#e1_151 { 
	background-color:rgba(0, 91.00000217556953, 193.00000369548798, 1);
	opacity:1;
	width:1920px;
	height:255px;
	position:absolute;
	left:0px;
	top:0px;
}#e1_152 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:122px;
	height:27px;
	position:absolute;
	left:405px;
	top:36px;
	font-family:Oswald;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
	line-height:undefined;
}#e1_153 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:127px;
	height:19px;
	position:absolute;
	left:1388px;
	top:40px;
	font-family:Open Sans;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_154 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:610px;
	height:19px;
	position:absolute;
	left:655px;
	top:40px;
	font-family:Open Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_155 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:315px;
	height:19px;
	position:absolute;
	left:405px;
	top:211px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_156 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:201px;
	height:19px;
	position:absolute;
	left:1314px;
	top:211px;
	font-family:Open Sans;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_157 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:80px;
	height:19px;
	position:absolute;
	left:405px;
	top:113px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_158 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:56px;
	height:19px;
	position:absolute;
	left:405px;
	top:142px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_159 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:51px;
	height:19px;
	position:absolute;
	left:595px;
	top:113px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_160 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:49px;
	height:19px;
	position:absolute;
	left:595px;
	top:142px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_161 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:97px;
	height:19px;
	position:absolute;
	left:785px;
	top:113px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_162 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:171px;
	height:19px;
	position:absolute;
	left:785px;
	top:142px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e1_163 { 
	opacity:1;
	border:1px solid rgba(255, 255, 255, 1);
	width:1110px;
	height:0px;
	position:absolute;
	left:405px;
	top:88px;
}#e1_164 { 
	opacity:1;
	border:1px solid rgba(255, 255, 255, 1);
	width:1110px;
	height:0px;
	position:absolute;
	left:405px;
	top:186px;
}